/** 2016-11-27 22:31:14 
    自定义样式
*/
/*约定：
    1.样式都通过ID去限定
    2.尽可能多使用直接子代选择器
*/
/*Bootstrap扩展*/
.panel-dashunzi {
    border-color: #ddd;
    border-radius: 0;
    box-shadow: 1px 2px 5px #ccc;
}

.panel-dashunzi.actived {
    background-color: #E92322;
    color: #fff;
}

.panel-dashunzi.actived::before {
    content: '\e915';
    font-family: dashunzi;
    font-size: 50px;
    position: absolute;
    top: -10px;
    left: 15px;
}

.panel-dashunzi.disabled {
    background-color: #aaa;
}

.panel-dashunzi > .panel-heading {
    float: right;
    width: 120px;
    padding: 45px 0;
    height: 150px;
    border-left: 1px dashed #ccc;
    text-align: center;
    position: relative;
}

.panel-dashunzi > .panel-heading::before,
.panel-dashunzi > .panel-heading::after {
    content: ' ';
    width: 16px;
    height: 16px;
    border-radius: 8px;
    background-color: #f0f0f0;
    position: absolute;
}

.panel-dashunzi > .panel-heading::before {

    top: -8px;

    left: -8px;
}

.panel-dashunzi > .panel-heading::after {

    bottom: -8px;

    left: -8px;

    box-shadow: 0px 2px 1px #ccc inset;
}

.panel-dashunzi > .panel-body {
    margin-right: 120px;
    height: 150px;
    width: 238px;
    /* min-width: 238px; */
}

.panel-dashunzi > .panel-heading + .panel-collapse > .panel-body {
    border-top-color: #ddd;
}

.panel-dashunzi > .panel-heading .badge {
    color: #f5f5f5;
    background-color: #333;
}

/*自定义免费注册按钮*/

.btn-dashunzi {
    color: #ffffff;
    background-color: #E92322;
    border-color: #DB3B43;
}

.btn-dashunzi:hover,
.btn-dashunzi:focus,
.btn-dashunzi:active,
.btn-dashunzi.active,
.open .dropdown-toggle.btn-dashunzi {
    color: #ffffff;
    background-color: #E92322;
    border-color: #DB3B43;
}

.btn-dashunzi:active,
.btn-dashunzi.active,
.open .dropdown-toggle.btn-dashunzi {
    background-image: none;
}

.btn-dashunzi.disabled,
.btn-dashunzi[disabled],
fieldset[disabled] .btn-dashunzi,
.btn-dashunzi.disabled:hover,
.btn-dashunzi[disabled]:hover,
fieldset[disabled] .btn-dashunzi:hover,
.btn-dashunzi.disabled:focus,
.btn-dashunzi[disabled]:focus,
fieldset[disabled] .btn-dashunzi:focus,
.btn-dashunzi.disabled:active,
.btn-dashunzi[disabled]:active,
fieldset[disabled] .btn-dashunzi:active,
.btn-dashunzi.disabled.active,
.btn-dashunzi[disabled].active,
fieldset[disabled] .btn-dashunzi.active {
    background-color: #E92322;
    border-color: #DB3B43;
}

.btn-dashunzi .badge {
    color: #E92322;
    background-color: #ffffff;
}

/*自定义navbar*/
.navbar-dashunzi {
    background-color: #fff;
    border-color: #f5f5f5;
    margin-bottom: 0;
}

.navbar-dashunzi .navbar-brand {
    color: #777;
    height: 80px;
}

.navbar-dashunzi .navbar-brand:hover,
.navbar-dashunzi .navbar-brand:focus {
    color: #5e5e5e;
    background-color: transparent;
}

.navbar-dashunzi .navbar-text {
    color: #777;
}

.navbar-dashunzi .navbar-nav > li > a {
    color: #777;
    line-height: 48px;
    font-size: 14px;
}

.navbar-dashunzi .navbar-nav > li > a:hover,
.navbar-dashunzi .navbar-nav > li > a:focus {
    color: #333;
    background-color: transparent;
    border-bottom: 2px solid #E92322;
}

.navbar-dashunzi .navbar-nav > .active > a,
.navbar-dashunzi .navbar-nav > .active > a:hover,
.navbar-dashunzi .navbar-nav > .active > a:focus {
    color: #555;
    background-color: transparent;
    border-bottom: 2px solid #E92322;
}

.navbar-dashunzi .navbar-nav > .disabled > a,
.navbar-dashunzi .navbar-nav > .disabled > a:hover,
.navbar-dashunzi .navbar-nav > .disabled > a:focus {
    color: #ccc;
    background-color: transparent;
}

.navbar-dashunzi .navbar-toggle {
    border-color: #ddd;
    margin-top: 23px;
    margin-bottom: 23px;
}

.navbar-dashunzi .navbar-toggle:hover,
.navbar-dashunzi .navbar-toggle:focus {
    background-color: #ddd;
}

.navbar-dashunzi .navbar-toggle .icon-bar {
    background-color: #888;
}

.navbar-dashunzi .navbar-collapse,
.navbar-dashunzi .navbar-form {
    border-color: #e7e7e7;
}

.navbar-dashunzi .navbar-nav > .open > a,
.navbar-dashunzi .navbar-nav > .open > a:hover,
.navbar-dashunzi .navbar-nav > .open > a:focus {
    color: #555;
    background-color: #e7e7e7;
}

@media (max-width: 767px) {
    .navbar-dashunzi .navbar-nav .open .dropdown-menu > li > a {
        color: #777;
    }

    .navbar-dashunzi .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-dashunzi .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #333;
        background-color: transparent;
    }

    .navbar-dashunzi .navbar-nav .open .dropdown-menu > .active > a,
    .navbar-dashunzi .navbar-nav .open .dropdown-menu > .active > a:hover,
    .navbar-dashunzi .navbar-nav .open .dropdown-menu > .active > a:focus {
        color: #555;
        background-color: #e7e7e7;
    }

    .navbar-dashunzi .navbar-nav .open .dropdown-menu > .disabled > a,
    .navbar-dashunzi .navbar-nav .open .dropdown-menu > .disabled > a:hover,
    .navbar-dashunzi .navbar-nav .open .dropdown-menu > .disabled > a:focus {
        color: #ccc;
        background-color: transparent;
    }
}

.navbar-dashunzi .navbar-link {
    color: #777;
}

.navbar-dashunzi .navbar-link:hover {
    color: #333;
}

.navbar-dashunzi .btn-link {
    color: #777;
}

.navbar-dashunzi .btn-link:hover,
.navbar-dashunzi .btn-link:focus {
    color: #333;
}

.navbar-dashunzi .btn-link[disabled]:hover,
fieldset[disabled] .navbar-dashunzi .btn-link:hover,
.navbar-dashunzi .btn-link[disabled]:focus,
fieldset[disabled] .navbar-dashunzi .btn-link:focus {
    color: #ccc;
}

/*
    公共样式
*/
body {
    font-family: "Helvetica Neue", Helvetica, Microsoft Yahei, Hiragino Sans GB, WenQuanYi Micro Hei, sans-serif;
}

@font-face {
    font-family: 'dashunzi';
    src: url('../font/MiFie-Web-Font.eot') format('embedded-opentype'), url('../font/MiFie-Web-Font.svg') format('svg'), url('../font/MiFie-Web-Font.ttf') format('truetype'), url('../font/MiFie-Web-Font.woff') format('woff');
}

[class^="icon-"], [class*=" icon-"] {
    font-family: dashunzi;
    /*默认i标签会有斜体*/
    font-style: normal;
}

.icon-mobilephone::before {
    content: "\e908";
    font-size: 13px;
}

.icon-telephone::before {
    content: "\e909";
    font-size: 15px;
}

.icon-logo::before {
    content: "\e93e";
}

.icon-icon::before {
    content: "\e920";
}

/*
    头部区域
*/
#header {

}

#header > .topbar {
    height: 40px;
    border-bottom: 1px solid #c0c0c0;
    line-height: 40px;
}

#header > .topbar > .container > .row > div {
    height: 40px;
    font-size: 12px;
    color: #888;
}

#header > .topbar > .container > .row > div + div {
    border-left: 1px solid #c0c0c0;
}

/*去除默认a标签的样式*/
#header .mobile-link {
    font-size: 12px;
    color: #888;
}

#header .mobile-link > img {
    display: none;
    position: absolute;
    left: 50%;
    top: 30px;
    margin-left: -60px;
    z-index: 1001;
}

#header .mobile-link:hover > img {

    display: block;
}

#header .mobile-link:hover {
    text-decoration: none;
}

#header .container .row div:nth-child(3) > a, #header .container .row div .web-login {
    font-size: 12px;
    color: #888;
}

#header .container .row div:nth-child(3) > a:hover, #header .container .row div .web-login:hover {
    text-decoration: none;
}

#header .icon-icon {

    font-size: 50px;

    color: #E92322;

    line-height: 50px;

    vertical-align: middle;
}

#header .icon-logo {

    font-size: 32px;

    color: #333;

    line-height: 50px;

    vertical-align: middle;
}

/*通栏广告轮播*/
#main_ad {

}

/*当屏幕大于768px的时候,让轮播图的高度为410px*/
@media (min-width: 768px) {
    #main_ad .carousel-inner .item {
        height: 410px;
    }
}

#main_ad .carousel-inner .item {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

#main_ad .carousel-inner .item > img {
    width: 100%;
}

/*网站特色-feature*/
#feature {
    padding: 50px 0;
    border-bottom: 1px solid #c0c0c0;
}

#feature .container .row div {
    height: 40px;
    margin-bottom: 20px;
    margin-top: 20px;
}

.icon-uniE907:before {
    content: "\e907";
}

#feature i {
    font-size: 34px;
}

#feature a {
    text-decoration: none;
    color: #888;
}

#feature a:hover {
    color: #E92322;
}

/*立即预约*/
#ljyy {
    border-bottom: 1px solid #c0c0c0;
}

.icon-uniE906:before {
    content: "\e906";
}

.icon-uniE905:before {
    content: "\e905";
}

#ljyy > .container > p {
    padding: 20px 0;
    font-size: 14px;
    margin-bottom: 0;
}

#ljyy > .container > .pull-left > span {
    color: #E92322
}

#ljyy > .container > .pull-left > a {
    border-bottom: 1px dashed #E92322;
    color: #E92322;
    text-decoration: none;
}

#ljyy > .container > .pull-right > a {
    color: #888;
    text-decoration: none;
}

#ljyy > .container > p > a:hover {
    color: #E92322;
}

/*产品推荐*/
#products {
    background-color: #f0f0f0;
    padding: 20px 0;
}

#products > .container .ul-wrapper {
    /* overflow-x: scroll; */
}

#products > .container .nav-tabs {
    padding-left: 20px;

}

#products > .container .nav-tabs > li {

}

#products > .container .nav-tabs > li:last-child > a:hover {
    color: #E92322;
}

#products > .container .nav-tabs > li > a {

    font-size: 16px;

    color: #333;
}

#products > .container .nav-tabs > li > a:hover {

    border-color: transparent;

    background-color: transparent;

    color: #222;
}

#products > .container .nav-tabs > li.active {

}

#products > .container .nav-tabs > li.active > a {

    background-color: transparent;

    border-color: transparent;

    border-bottom: 4px solid #E92322;
}

#products > .container > .tab-content > .tab-pane > .row {
    padding: 20px 0;
}

#products > .container > .tab-content p {
    margin-bottom: 0;

}

#products > .container > .tab-content .panel p:first-child {
    font-size: 12px;
    color: #ccc;
    /* padding: 45px 0; */
}

#products > .container > .tab-content .panel-heading .products-tooltip {
    width: 100%;
    left: 0;
    margin-left: 0;
    position: absolute;
    top: 34px;
}

#products > .container > .tab-content .panel-heading .products-tooltip a {

    text-decoration: none;

    border: 1px solid;

    margin: 0 1px;
}

#products > .container > .tab-content .panel-heading span {
    font-size: 50px;
    font-weight: bold;
}

/*新闻列表*/
.icon-news01:before {
    content: "\e90e";
    font-size: 28px;
    color: #EAEAEA;
}

.icon-news02:before {
    content: "\e90f";
    font-size: 28px;
    color: #EAEAEA;
}

.icon-news03:before {
    content: "\e910";
    font-size: 28px;
    color: #EAEAEA;
}

.icon-news04:before {
    content: "\e911";
    font-size: 28px;
    color: #EAEAEA;
}

#news {
    padding: 40px 0;
}

#news .news-title {
    border-bottom:1px dashed #c0c0c0;
    text-align: center;
    font-size: 18px;
    margin-right: 10px;
    position: relative;
    font-weight: 400;
    padding: 15px;
}
#news .news-title::after {
    content:' ';
    width:10px;
    height: 10px;
    border-radius: 5px;
    position: absolute;
    border: 1px solid #c0c0c0;
    bottom: -5px;
    right: -10px;
}
@media (max-width: 768px) {
    #news .nav-stacked li{
        margin-right: 20px;
        margin-top: 10px;
        float:left;
    }
}
/*脚注区域*/
#footer {
    height: 200px;
}

/*脚注区域*/
